/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 body {
  background-color: #FDBCAB;
  height: 100%;
  width: 100%;
}

img {
  height: auto;
}

#logo {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

#socials {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
