<div class="container" id="logo">
  <div class="row">
    <div class="col-xs-12">
      <img class="logo" src="http://res.cloudinary.com/dvcylwwvz/image/upload/c_scale,h_0.5/v1476267701/logo_la_freund_do9wua.png"/>
    </div>
  </div>
</div>
<div class="container" id="socials">
  <div class="row">
    <div class="col-xs-12 col-sm-12">

      <a target="_blank" href="https://soundcloud.com/lafreund/"><img src="http://res.cloudinary.com/dvcylwwvz/image/upload/c_scale,h_0.06/v1476267701/soundcloud_z9rgtf.png"/></a>

      <a target="_blank" href="https://www.facebook.com/lafreundrecordings/"><img src="http://res.cloudinary.com/dvcylwwvz/image/upload/c_scale,h_0.06/v1476267700/facebook_wssi3x.png"/></a>

      <a target="_blank" href="https://www.instagram.com/lafreundrecordings/"><img src="http://res.cloudinary.com/dvcylwwvz/image/upload/c_scale,h_0.06/v1476267701/instagram_kwmbry.png"/></a>

      <a href="mailto:info@lafreund.com?subject="><img src="http://res.cloudinary.com/dvcylwwvz/image/upload/c_scale,h_0.06/v1476268374/email_jwtxk2.png"/></a>

    </div>
  </div>
</div>
